/* 
------------------------------COLORS AND FONT STYLES------------------------------

------------------------------FONT USED 
Roboto/

------------------------------DARK BACKGROUND COLOR (HERO AND FOOTER) 
#1F2937/

------------------------------HERO MAIN TEXT ("THIS WEBSITE IS AWESOME")
48px #F9FAF8 weight: 900/

------------------------------hero secondary text, header link text 18px 
18px #E5E7EB/

------------------------------hero logo text
24px #F9FAF8/

------------------------------button color, call to action background color 
#3882F6/

------------------------------information header text
36px #1F2937 weight: 900/

------------------------------quote section background color 
#E5E7EB/

------------------------------quote text
36px #1F2937 weight: 300                                                           
____________________________________________________________________________________

*/

/* --------------------------------------- */

/* UNIVERSAL SHIT AND RULINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* =============================HEADER================================== */

.header {
    background-color: #1F2937;
    min-height: 600px;
}

.upper {
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 20px;
}

.navbar {
    margin: 20px;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-item {
    text-decoration: none;
    margin: 20px;
}

.description-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-desc {
    width: 30%;
    margin: 80px 170px 30px 50px;
}

.text-desc .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text-desc p, .nav-item {
    font-size: 18px;
    color: #E5E7EB;
}

.btn {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 8px 32px;
    margin: 15px 0;
    border-radius: 8px;
}

img {
    max-width: 33%;
    margin-top: 90px;
}

/* ==================================SECTION 1: INFO================================== */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    min-height: 400px
}

.info .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.boxes {
    display: flex;
    flex-direction: row;
    margin: 10px 300px;

}

.container {
    margin: 30px 20px;

}

.box {
    margin: 0px 10px 5px; 
    padding: 80px 80px;
    border: 5px solid #3882F6;
    border-radius: 16px;
}

/* ==================================SECTION 2: QUOTE================================== */

.quote {
    background-color: #E5E7EB;
    min-height: 400px;
    
}

blockquote {
    margin: 0 300px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 70px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    max-width: 60%;
    
}

cite {
    font-style: normal;
    align-self: flex-end;
    font-size: 24px;
}

b {
    padding-left: 1000px;
}

/* ==================================SECTION 3: CTA================================== */

.CTA {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cta {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space space-between;

    background-color: #3882F6;
    min-height: 120px;
    min-width: 60%; 
    border-radius: 12px;
    padding: 30px 110px;
}

.title-cta {
    color: #E5E7EB;
    font-size: 25px;
}

.container-cta p {
    color: #E5E7EB;
    
}

.btn-cta {
    border: 2px solid #E5E7EB;
    justify-self: right;
    align-self: end;
}

/* ==================================FOOTER================================== */

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}