
body {
    background-color: black;
    display: flex;
    justify-content: center;
}
@keyframes fadingOutPresentation {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
#splash {
    font-family: "Workbench", sans-serif;
    line-height: 7px;
    font-size: large;
    margin-top: 15%;
    color: aliceblue;
    display: flex;
    gap: 20px;
    animation: fadingOutPresentation 3s;
}
h1 {
    font-size: 60px;
    margin-bottom: 40px;
}
h2 {
    font-size:40px;
    margin-bottom: 40px;
}
img {
    width: 150px;
}